@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */
:root {
  --app-bg-primary: #0D1729;
  --app-color-primary: #C5CEEC;
  --app-bg-secondary: #141C35;
  --app-color-secondary: #636B83;
  --app-color-mark: #77ACAF;
  --app-green-500: #22c55e;
  --app-sky-50: #e0f2fe;
  --app-slate-900: #0f172a;
}
.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.kanit-extralight-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kanit-semibold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.full-body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.bg-primary {
  background-color: var(--app-bg-primary);
}
.bg-secondary {
  background-color: var(--app-bg-secondary);
}
.color-primary {
  color: var(--app-color-primary);
}
.color-secondary {
  color: var(--app-color-secondary);
}
.mark-text {
  color: var(--app-color-mark);
}
.badge {
  font-size: small;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}
.experience {
  margin-bottom: 3rem;
}
.z-60 {
  z-index: 60;
}

/* Scrollbar stuff */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  /* background-color: var(--app-green-500); */
  background: var(--app-green-500);
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(180deg, var(--app-green-500) 0%, var(--app-sky-50) 100%);
}
::-webkit-scrollbar-track-piece:start {
  background: var(--app-slate-900);
}