@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */
:root {
  --app-bg-primary: #0D1729;
  --app-color-primary: #C5CEEC;
  --app-bg-secondary: #141C35;
  --app-color-secondary: #636B83;
  --app-color-mark: #77ACAF;

  /* font-family: "Genos", sans-serif; */
  /* font-optical-sizing: auto; */
  /* font-weight: 25px; */
  /* font-style: normal; */
}
.full-body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.bg-primary {
  background-color: var(--app-bg-primary);
}
.bg-secondary {
  background-color: var(--app-bg-secondary);
}
.color-primary {
  color: var(--app-color-primary);
}
.color-secondary {
  color: var(--app-color-secondary);
}
.mark-text {
  color: var(--app-color-mark);
}
.badge {
  font-size: small;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}